# **P&T Day 1**

In [ ]:
"gayatri pardeshi"
print("hello")

hello

In [ ]:
print('''hello everyone ,  Python is a high-level, interpreted, object-oriented programming language that is easy to learn and use.
It has many applications in web development, data science, automation, CAD, AI''')

hello everyone ,  Python is a high-level, interpreted, object-oriented programming language that is easy to learn and use.
It has many applications in web development, data science, automation, CAD, AI

# **variables**

int a,b; #declaration

a=b , b=10 == # Initialization

In [ ]:
a=20   #Initialization

##Rules of variables

In [ ]:
# not use number at starting
#digit 0 to 9
# alphabets A-Z
#not unse special characters
#only use  (_) underscore


 #define by num1,num2, like that that will be easy to understand
num1=10
num2=20
print(num1+num2)

30

In [ ]:
num1=10
num2=20
sum=num1+num2
print("sum of 2 no is -- ",sum)

sum of 2 no is --  30

# Identifier
it gives rules to variables, function , class

# **Operators in python**

In [ ]:
Arithmetic operators  :-  +,-,*,/,%,**,//
Assignment operators :- =,+=,-=,*=,/=,%=,//=
Comparison operators :- ==,!=,<,>,<=,>=
Logical operators :- and,or,not()
Assignment operators
Identity operators
Membership operators
Bitwise operators :- &,|,^,~,<<,>>

In [ ]:
#modulos =% gives reminder
10/2

5.0

In [ ]:
10//2   # floor division

5

In [ ]:
a=10
a+=1  #short hand oprator
print(a)

11

In [ ]:
a=20
b=20
if a!=b:
  print("a is not equal to b")

In [ ]:
 3&2

2

In [ ]:
a=10
b=20
sum =a + b
print(sum)

30

In [ ]:
num = 10+20
print(num)

30

In [ ]:
num=20-10
print(num)

10

In [ ]:
~3   #-ve start from 0 -1,-2

-4

In [ ]:
~(-4) # start form 0 ,1,2,3

3

In [ ]:
a=b =20
print(a)
print(b)

20
20

In [ ]:
# prompt: swapping program

# Swapping two numbers without using a temporary variable

num1 = 10
num2 = 20

print("Before swapping:")
print("num1 =", num1)
print("num2 =", num2)

num1 = num1 + num2  # num1 becomes 30
num2 = num1 - num2  # num2 becomes 10
num1 = num1 - num2  # num1 becomes 20

print("\nAfter swapping:")
print("num1 =", num1)
print("num2 =", num2)

In [ ]:
a,b=30,40
a,b=b,a
print(a)
print(b)

40
30

In [ ]:
#with temporary  veriable
a,b=30,40

t=a
a=b
b=t
print(a)
print(b)

40
30

In [ ]:
N = int(input(" enter the number:"))
if N > 0:
    print(N, "is positive") # Indented this line
elif N < 0:
    print(N, "is negative") # Indented this line and corrected "nevet" to "negative"
else:
    print(N, "is zero") # Indented this line

 enter the number:5
5 is positive

In [ ]:
total=int(input("enter the total marks=="))
percentage=(total*100)/500
print("Percentage:", percentage)
if percentage>=60:
  print("first")
elif 50<=percentage<60:
  print("second")
elif 40<=percentage<50:
  print("pass")
elif percentage<40:
    print("better")

enter the total marks==50
Percentage: 10.0
better

In [ ]:
# prompt: # prompt: agar 5 lakh payment hai to 5% tax jayenga to .and tax 5 5 percentage se badana hai above 30 tak karo tax badana hai   . give me simple code . without fuction

payment = float(input("Enter the payment amount: "))

if payment >= 500000:
  tax = 0.05 * payment
  if payment > 3000000:
    tax = 0.30 * payment #tax increased to 30% above 30lakhs
elif payment >= 300000:
  tax = 0.05 * payment
else:
  tax = 0

print(f"Tax to be paid: {tax}")

Enter the payment amount: 3000000
Tax to be paid: 150000.0

In [ ]:
payment = float(input("Enter the payment amount: "))

if payment >= 300000:
  tax = 0.05 * payment
else:
  tax = 0

print(f"Tax to be paid: {tax}")

In [ ]:
a = int(input("Enter the first number: "))
b= int(input("Enter the second number: "))
c = int(input("Enter the third number: "))
if(a>b and a<c) or (a<b and a>c):
  print(a)
elif(b>a and b<c) or (b<a and b>c):
  print(b)
else:
  print(c)
1

Enter the first number: 30
Enter the second number: 50
Enter the third number: 100
50

In [ ]:

a = int(input("Enter the first number: "))
b= int(input("Enter the second number: "))
c = int(input("Enter the third number: "))
second_larget = a+b+c-max(a,b,c)-min(a,b,c)
print(second_larget)

Enter the first number: 30
Enter the second number: 60
Enter the third number: 20
30

In [ ]:


n = int(input("Enter a number: "))

i = 0
power_of_4 = 1
while power_of_4 < n:
    power_of_4 *= 4
    i += 1

print(power_of_4 == n)

Enter a number: 1
True

In [ ]:
# prompt: n = int(input("Enter a number: "))
# i = 0
# power_of_4 = 1
# while power_of_4 < n:
#     power_of_4 *= 4
#     i += 1
# print(power_of_4 == n).give this in if else

n = int(input("Enter a number: "))

i = 0
power_of_4 = 1
while power_of_4 < n:
    power_of_4 *= 4
    i += 1

if power_of_4 == n:
    print(True)
else:
False

In [ ]:
n=int(input("enter the number"))
if

In [ ]:
num=int(input("enter a number"))
a=pow(4,num)
if a%4==0:
  print("True")
else:
  print("False")

enter a number8
True

In [ ]:
num=int(input("enter a number"))
if(num//4)%4==0 and num>0: # perfect remender aana chahiye
  print("True")
elif num==1:
  print("true")
else:
  print("False")

enter a number6
False

# **Day 2**

# **switch case in python done with the help of conditional statements **

In [ ]:
ch=int(input("enter a number"))
if ch==1:
  print("monday")
elif ch==2:
  print("tuesday")
elif ch==3:
  print("wednesday")
elif ch==4:
  print("thursday")
elif ch==5:
  print("friday")
elif ch==6:
  print("saturday")
elif ch==7:
  print("sunday")
else:
  print("invalid")

enter a number2
tuesday

In [ ]:
month_number=int(input("enter the month number"))
match month_number:
  case 1:
    print("january")
  case 2:
    print("february")
  case 3:
    print("march")
  case 4:
    print("april")
  case 5:
    print("may")
  case 6:
    print("june")
  case 7:
    print("july")
  case 8:
    print("august")
  case 9:
    print("september")
  case 10:
    print("october")
  case 11:
    print("november")
  case 12:
    print("december")
  case _:
    print("invalid choice")

enter the month number3
march

# **when we want only one print**

In [ ]:
month_number=int(input("enter the month number : "))
match month_number:
  case 1:
    m_name="january"
  case 2:
    m_name="february"
  case 3:
    m_name="march"
  case 4:
    m_name="april"
  case 5:
    m_name="may"
  case 6:
    m_name="june"
  case 7:
   m_name="july"
  case 8:
   m_name="august"
  case 9:
   m_name="september"
  case 10:
    m_name="october"
  case 11:
    m_name="november"
  case 12:
    m_name="december"
  case _:
    print("invalid choice")
print(m_name)

enter the month number : 3
march

# **friends food center**

In [ ]:
yes_no=(input("want to order : "))
if yes_no=="yes":
  print("enter 1. Tea \n 2. Coffee \n 3. sandwich \n 4. burger")
  choice=int(input("enter your choice : "))
  if choice==1:
    print("ur selected tea and price is 10 .")
    tea_count=int(input("enter the count of tea :"))
    amt=tea_count*10
    print("total amount is : ",amt)
  elif choice==2:
    print("ur selected coffee and price is 20")
    coffee_count=int(input("enter the count of coffee :"))
    amt=coffee_count*20
    print("total amount is : ",amt)
  elif choice==3:
    print("ur selected sandwich and price is 30")
    sandwich_count=int(input("enter the count of sandwich :"))
    amt=sandwich_count*30
    print("total amount is : ",amt)
  elif choice==4:
    print("ur selected burger and price is 40")
    burger_count=int(input("enter the count of burger :"))
    amt=burger_count*40
    print("total amount is :",amt)
  else:
    print("thank you for visiting.")

want to order : yes
enter 1. Tea
 2. Coffee
 3. sandwich
 4. burger
enter your choice : 2
ur selected coffee and price is 20
enter the count of coffee :3
total amount is 60

# **while**

In [ ]:
while True:
  num=int(input("enter the number:"))
  if num>0:
    print("this no is +: ",num)
    break
  else:
    print("this no is -ve: ")

enter the number4
this no is +:  4

thanks for ordering

------------------------


Billno=100


------------------------


Item              quantity            amount
Tea                 5                   50
Vadapav             2                   30
coffee              2                   100


-------------------------------------------------


# total_bill=9                       180

In [ ]:
print("thank you for visiting")
print("\n--------------------------------------------------------------------------------------------------------------------------------")
print("bill no=100\n")
print("\n--------------------------------------------------------------------------------------------------------------------------------")
yes_no=(input("want to order : "))
while True:
  if yes_no=="yes":
    print("enter 1. Tea \n 2. Coffee \n 3. sandwich \n 4. burger")
    choice=int(input("enter your choice : "))
  if choice==1:
    print("ur selected tea and price is 10 .")
    tea_count=int(input("enter the count of tea :"))
    amt_tea=tea_count*10
    print("total amount is : ",amt_tea)
  elif choice==2:
    print("ur selected coffee and price is 20")
    coffee_count=int(input("enter the count of coffee :"))
    amt_coffee=coffee_count*20
    print("total amount is : ",amt_coffee)
  elif choice==3:
    print("ur selected sandwich and price is 30")
    sandwich_count=int(input("enter the count of sandwich :"))
    amt_sandwich=sandwich_count*30
    print("total amount is : ",amt_sandwich)
  elif choice==4:
    print("ur selected burger and price is 40")
    burger_count=int(input("enter the count of burger :"))
    amt_burger=burger_count*40
    print("total amount is :",amt_burger)


  else:
    print("thank you for visiting.")
    break
    total_bill= (amt_tea + amt_coffee + amt_sandwich+amt_sandwich+amt_burger)
    print("total bill=",total_bill1
          )

print("thank you for visiting")
print("\n--------------------------------------------------------------------------------------------------------------------------------")
print("bill no=100\n")
print("\n--------------------------------------------------------------------------------------------------------------------------------")

thank you for visiting

--------------------------------------------------------------------------------------------------------------------------------
bill no=100


--------------------------------------------------------------------------------------------------------------------------------
want to order : yes
enter 1. Tea
 2. Coffee
 3. sandwich
 4. burger
enter your choice : 1
ur selected tea and price is 10 .

KeyboardInterrupt: Interrupted by user

In [ ]:
# prompt: thank you for visiting
#  --------------------------------------------------------------------------------------------------------------------------------
# bill no=100
#  --------------------------------------------------------------------------------------------------------------------------------.print like this it will show items, quantity and amount in different column

print("--------------------------------------------------------------------------------------------------------------------------------")
print("bill no=100")
print("--------------------------------------------------------------------------------------------------------------------------------")
print("Item\tQuantity\tAmount") # Added header row for clarity
print("--------------------------------------------------------------------------------------------------------------------------------")

# Example items and their details (Replace with actual order details)
items = [
    {"name": "Tea", "quantity": 2, "price": 10},
    {"name": "Coffee", "quantity": 1, "price": 20},
    {"name": "Sandwich", "quantity": 3, "price": 30}
]


for item in items:
    amount = item["quantity"] * item["price"]
    print(f"{item['name']}\t{item['quantity']}\t\t{amount}")

print("--------------------------------------------------------------------------------------------------------------------------------")

--------------------------------------------------------------------------------------------------------------------------------
bill no=100
--------------------------------------------------------------------------------------------------------------------------------
Item	Quantity	Amount
--------------------------------------------------------------------------------------------------------------------------------
Tea	2		20
Coffee	1		20
Sandwich	3		90
--------------------------------------------------------------------------------------------------------------------------------

In [ ]:
print("thanks for ordering")
print("------------------------")
print("Billno=100")
print("------------------------")
print("Item       quantity     amount")

item = ""
quantity = 0
price = 0
total_quantity = 0
total_amount = 0

while True:
    if item == "":
        item = "Tea"
        quantity = 5
        price = 50
    elif item == "Tea":
        item = "Vadapav"
        quantity = 2
        price = 30
    elif item == "Vadapav":
        item = "coffee"
        quantity = 2
        price = 100
    elif item == "coffee":
        break  # Exit the loop after the last item

    # Calculate totals and print each line
    total_quantity += quantity
    total_amount += price
    print(f"{item:<10} {quantity:<10} {price:<10}")
    item = ""

print("-------------------------------------------------")
print(f"total_bill= {total_quantity}       {total_amount}")

# **1st 10 even numbers**

In [ ]:
num = 0
while num <= 20:
    if num % 2 == 0:
        print(num)
    num += 1

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
num = 2
while num <= 20:
   print(num)
   num += 2

2
4
6
8
10
12
14
16
18
20

In [ ]:
num = 10
while num >=1 :
   print(num)
   num -=1

10
9
8
7
6
5
4
3
2
1

# **table of 9**

In [ ]:
num=9
i=1
while i<=10:
  print(num,"*",i,"=",num*i)
  i+=1

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [ ]:
num=10
i=1
print("num, cube, square")
while i<=10:

  print(i,i*i*i, i*i)
  i+=1

num, cube, square
1 1 1
2 8 4
3 27 9
4 64 16
5 125 25
6 216 36
7 343 49
8 512 64
9 729 81
10 1000 100

In [ ]:
num=5
r=0
sum=0
while num>0:
  r=num%10
  sum=sum+r
  num=num//10
print(sum)

5

# **palindrome **

In [ ]:
num=str(input("enter a number : "))
s=str(num) # type casting "1221"
r=s[::-1]
if s==r:
  print("palindrome")
else:
  print("not palindrome")

enter a number : NITIN
palindrome

# **1-20 even number square and odd number Cube **

In [ ]:
num = 1
while num <= 20:
    if num % 2 == 0:
      print(num, num*num)
    else:
      print(num,num*num*num)
    num+=1

1 1
2 4
3 27
4 16
5 125
6 36
7 343
8 64
9 729
10 100
11 1331
12 144
13 2197
14 196
15 3375
16 256
17 4913
18 324
19 6859
20 400

# **for Loop**

In [ ]:
for i in range(2,21):
  if i%2==0:
    print(i)
  else:
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
65==aiter

In [ ]:
start=int(input("enter start"))
end=int(input("enter end"))
if start>end:
  for i in range(start,end,-1):
    print(i)
else:
  for i in range(start,end):
    print(i)

enter start1
enter end2
1

In [ ]:
for i in range(1,6):
  for j in range (i+1):
    print("*",end=" ")
  print()

* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
for i in range(0,5):
  for j in range (i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range (i+1):
    print(j,end=" ")
  print()

0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [ ]:
for i in range( 1,6):
  for j in range (1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range( 1,6):
  for j in range (64+i,i+1):
    print(j,end=" ")
  print()

In [ ]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(chr(64 + j), end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
for i in range(6,1):
    for j in range(6, i + 1):
        print(chr(64 + j), end=" ")
    print()

In [ ]:
for i in range( 5,0,-1):
  for j in range (1,i+1):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range( 5):
  for j in range (5,i,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
for i in range(1,6):
  for j in range (1,i+1):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(1,6):
  for j in range (1,i+1):
    print(i%2,end=" ")
  print()

1
0 0
1 1 1
0 0 0 0
1 1 1 1 1

In [ ]:
for i in range(1,6):
  for j in range (1,i+1):
    print(i+1,end=" ")
  print()

2
3 3
4 4 4
5 5 5 5
6 6 6 6 6

In [ ]:
10
101
1010
10101

In [ ]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j % 2, end="")
    print()

1
10
101
1010
10101

# **list**

In [ ]:
square bracket

In [ ]:
lst=["a",12,9.8,"gayu",True]
print(lst)

['a', 12, 9.8, 'gayu', True]

In [ ]:
lst=["a",12,9.8,"gayu",True]
print(lst[1])

12

In [ ]:
lst=["a",12,9.8,"gayu",True]
# Access the last element using negative indexing
last_element = lst[-1]
# Print the last element, instead of its length
print(last_element)

# If you want the length of the list, use len(lst)
print(len(lst))

True
5

In [ ]:
lst=["a",12,9.8,"gayu",True]
print(lst[0])

a

In [ ]:
lst=["a",12,9.8,"gayu",True]
lst.append("beee")
print(lst)

['a', 12, 9.8, 'gayu', True, 'beee']

In [ ]:
lst=["a",12,9.8,"gayu",True]
lst.remove("a")
print(lst)

[12, 9.8, 'gayu', True]

In [ ]:
lst=[10,20,20,30,40,94,29,90,80]
for i in lst:
  print(i,lst.index(i))

10 0
20 1
20 1
30 3
40 4
94 5
29 6
90 7
80 8

In [ ]:
lst=[10,20,20,30,40,94,29,90,80]
for i in range(len(lst)):
  print(f"Index: {i}, Number: {lst[i]}")

Index: 0, Number: 10
Index: 1, Number: 20
Index: 2, Number: 20
Index: 3, Number: 30
Index: 4, Number: 40
Index: 5, Number: 94
Index: 6, Number: 29
Index: 7, Number: 90
Index: 8, Number: 80

In [ ]:
lst=[10,20,20,30,40,94,29,90,80]
min=lst[0]
for i in range(1,len(lst)):
  if lst[i]<min:
    min=lst[i]
print(min)

10

In [ ]:
lst=[10,20,20,30,40,94,29,90,80]
max=lst[0]
for i in range(1,len(lst)):
  if lst[i]>max:
    max=lst[i]
print(max)

94

In [ ]:
lst=[10,20,20,30,40,94,29,90,80]
max=lst[0]
for i in lst:
  if i>max:
    max=i
print(max)

94

In [ ]:
key=int(input("enter number: "))
lst=[10,20,20,30,40,94,29,90,80]
count=0
for i in lst:
  if i==key:
    count =+1
print(count)

enter number: 30
1

In [ ]:
lst=[10,20,20,30,40,94,29,90,80]
print(lst)
for i in range(len(lst)):
  if lst[i]==80:
    lst[i]=40
print(lst)

[10, 20, 20, 30, 40, 94, 29, 90, 80]
[10, 20, 20, 30, 40, 94, 29, 90, 40]

In [ ]:
lst=[10,20,20,30,40,94,29,90,80]
print(lst)
for i in range(len(lst)):
  if lst[i]==20:
    lst[i]=40
print(lst)

[10, 20, 20, 30, 40, 94, 29, 90, 80]
[10, 40, 40, 30, 40, 94, 29, 90, 80]

In [ ]:
lst=[10,20,20,30,40,94,29,90,80]
print(lst)
for i in range(len(lst)):
  if lst[i]==20:
    lst[i]=40
    break
print(lst)

[10, 20, 20, 30, 40, 94, 29, 90, 80]
[10, 40, 20, 30, 40, 94, 29, 90, 80]

In [ ]:
lst=[10,20,20,30,40,94,29,90,80]
print(lst)
for i in range(len(lst)-1,-1,-1):
  if lst[i]==20:
    lst[i]=40
    break
print(lst)

[10, 20, 20, 30, 40, 94, 29, 90, 80]
[10, 20, 40, 30, 40, 94, 29, 90, 80]

# **Day 3**

# **tuple**

In [ ]:
duplicated alloow== ,tuple((),list[]
no duplicat allow == set{},dict{}

# **fuction**

In [ ]:
1)built in function  / pre define function
2)user define function==== default fuction/ without parameter and parameterised function

In [ ]:
example of built in fuction == min ,max,

In [ ]:
def show():
  print("hello world")
  show()

hello world

In [ ]:
def show(a,b):
  print(a+b)
a=int(input("enter a : "))
b=int(input("enter b : "))
show(a,b)

enter a : 4
enter b : 2
6

In [ ]:
#write a fuction to find the maximum and minimum element in an array
def show(arr):
  arr=[5,3,9,2,8]
  for i in range(1,len(arr)):
    if arr[i]>max:
      max=arr[i]
    elif arr[i]<min:
      min=arr
  print("maximum",max)
  print("minimum",min)

In [ ]:
#find second largest element in an array input [7,3,9,2,8 ]and output 8
def find_second_largest(arr):
    largest = max(arr[0], arr[1])
    second_largest = min(arr[0], arr[1])
    for i in range(2, len(arr)):
        if   arr[i] > largest:
            second_largest = largest
            largest = arr[i]
        elif arr[i] > second_largest and arr[i] != largest:
            second_largest = arr[i]

    return second_largest
# Example usage
arr = [7, 3, 9, 2, 8]
second_largest_element = find_second_largest(arr)
print("Second largest element:", second_largest_element)

Second largest element: 8

In [ ]:
arr.sort()

In [ ]:
def find_second_largest(arr):
    arr.sort()
    if len(arr) < 2:
        return None  # Handle cases with less than two elements
    return arr[-2]

# Example usage
arr = [7, 3, 9, 2, 8]
second_largest = find_second_largest(arr)
print(second_largest)

8

remove duplicate from unsorted array:
write a fuction to remove duplicated from an unsorted array and return a new array with

In [ ]:
def remove_duplicates(arr):
    u_l = [3,2,3,1,2,4]
    n_l = []
    for i in u_l:
        if i not in n_l:
            n_l.append(i)
    return n_l

result = remove_duplicates([3,2,3,1,2,4])
print(result)

[3, 2, 1, 4]

find the missing number in array
# given an array containing n distint number taken from 1,2,.....n, find the one that is missing  from the array

In [ ]:
  def find_missing_number(nums):
    n = len(nums)
    expected_sum = n * (n + 1) // 2
    actual_sum = sum(nums)
    missing_number = expected_sum - actual_sum
    return missing_number
  nums = [0,1,3,5]
  missing_number = find_missing_number(nums)
  print(missing_number)

1

In [ ]:
  def find_missing_number(arr):
    n = len(arr)
    expected_sum = n * (n + 1) // 2
    actual_sum = sum(arr)
    missing_number = expected_sum - actual_sum
    return missing_number
  arr = [0,1,3]
  missing_number = find_missing_number(arr)
  print(missing_number)

2

In [ ]:
for i in range(0,6):
  i*(i+1)//2
  print(i)

0
1
2
3
4
5

In [ ]:
def find_missing_number(arr):
    n = len(arr)
    expected_sum = n * (n + 1) // 2
    actual_sum = 0
    for num in arr:
      actual_sum += num
      missing_number = expected_sum - actual_sum
    return missing_number

arr = [0, 1, 3,4]
missing_number = find_missing_number(arr)
print(missing_number)

2

In [ ]:
lst1=['m','na','i','kh']
lst2=['e','na','t','sh']
lst3=[]
for i in range(len(lst1)):
  lst3.append(lst1[i]+lst2[i])
print(lst3)

['me', 'nana', 'it', 'khsh']

### intersection of two array
# find the intersection of two array

In [ ]:
#intersection of two array


def find_intersection_two_array(arr):
  n=len(arr)
  for i in range(n):
    for j in range(i+1,n):
      if arr[i]==arr[j]:
        print(arr[i])
arr1= [1,2,2,1]
arr2=[2,2]
find_intersection_two_array(arr)

In [ ]:
def find_intersection_two_array(arr1,arr2):
  n=len(arr1)
  m=len(arr2)
  for i in range(n):
    for j in range(m):
      if arr1[i]==arr2[j]:
        print(arr1[i])
arr1= [1,2,2,1]
arr2=[2,2]
intersection = find_intersection_two_array(arr1, arr2)
print(intersection)

2
2
2
2
None

In [ ]:
def find_intersection_two_array(arr1, arr2):
    intersection = []
    for i in arr1:
        if i in arr2 and i not in intersection:
            intersection.append(i)
    return intersection

arr1 = [1, 2, 2, 1]
arr2 = [2, 2]
intersection = find_intersection_two_array(arr1, arr2)
intersection

[2]

# array rotation -- rotate an array to the right by a given number

In [ ]:
def is_leap(year):
  leap = False
  if year % 400 == 0:
    leap = True
  return leap
l_p = is_leap(2000)
print(l_p)

True

# **find themajority element:- find the majority element (element that eppend n/2 times)in an arry**

In [ ]:
# prompt: find themajority element:- find the majority element (element that eppend n/2 times)in an arry

def find_majority_element(nums):
    """
    Finds the majority element in an array.

    Args:
        nums: A list of numbers.

    Returns:
        The majority element if it exists, otherwise None.
    """
    counts = {}
    for num in nums:
        counts[num] = counts.get(num, 0) + 1

    n = len(nums)
    for num, count in counts.items():
        if count > n // 2:
            return num
    return None  # No majority element found

# Example usage
nums = [2, 2, 1, 1, 1, 2, 2]
majority_element = find_majority_element(nums)
print(f"Majority element: {majority_element}")

nums = [1, 2, 3, 4, 5]
majority_element = find_majority_element(nums)
print(f"Majority element: {majority_element}")

In [ ]:
def find_majority_element(nums):
    counts = {}
    for num in nums:
        counts[num] = counts.get(num, 0) + 1
        if counts[num] > len(nums) // 2:
            return num

    nums = [3,3,4,2,4,4,2,4,4]
majority_element = find_majority_element(nums)
print(f"Majority element: {majority_element}")

Majority element: None

In [ ]:
def find_majority_element(nums):
    counts = {}
    for i in nums:
        counts[i] = counts.get(i, 0) + 1
        if counts[i] > len(nums) // 2:
            return i
    return None

nums = [3,3,4,2,4,4,2,4,4]
majority_element = find_majority_element(nums)
print(f"Majority element: {majority_element}")

Majority element: 4

In [ ]:
nums = [3,3,4,2,4,4,2,4,4]
nums.sort()
candidate= nums[len(nums)//2]
count=nums.count(candidate)
if count>len(nums)//2:
  print("majority element",candidate)

else:
  print("no majority element")

majority element 4

# product of array except self:- given an array return an array where  each element product of all the

In [ ]:
arr=[1,2,3,4]
n=len(arr)
output=[1]*n
product=1
for i in range(n):
  output[i]=product
  product*=arr[i]
product=1
for i in range(n-1,-1,-1):
  output[i]*=product
  product*=arr[i]
print(output)

[24, 12, 8, 6]

In [ ]:
# prompt: arr=[1,2,3,4]
# n=len(arr)
# output=[1]*n
# product=1
# for i in range(n):
#   output[i]=product
#   product*=arr[i]
# product=1
# for i in range(n-1,-1,-1):
#   output[i]*=product
#   product*=arr[i]
# print(output).give me this code with diffe easy logic

def product_except_self(arr):
    n = len(arr)
    output = [1] * n

    # Calculate prefix products
    prefix_product = 1
    for i in range(n):
        output[i] = prefix_product
        prefix_product *= arr[i]

    # Calculate suffix products and multiply with prefix products
    suffix_product = 1
    for i in range(n - 1, -1, -1):
        output[i] *= suffix_product
        suffix_product *= arr[i]

    return output

arr = [1, 2, 3, 4]
result = product_except_self(arr)
print(result) # Output: [24, 12, 8, 6]

# move zeroes to the end :- given an array , move all the zeros to the end and changnnig the  order of non- zero element

In [ ]:
arr =[0,1,0,3,12]
n=len(arr)
count=0
for i in range(n):
  if arr[i]!=0:
    arr[count]=arr[i]
    count+=1
for i in range(count,n):
  arr[i]=0
  print(arr)

[1, 3, 12, 0, 12]
[1, 3, 12, 0, 0]

In [ ]:
def move_zero_to_end(arr):
    n = len(arr)
    count = 0
    for i in range(n):
        if arr[i] != 0:
            arr[count] = arr[i]
            count += 1
    arr = [0, 1, 0, 3, 12]
result = move_zero_to_end(arr)
print(result)

None
None

# find te third largest element in a list-- write a fuction to find the 3rd largest elementt in a lis

In [ ]:
# prompt: find te third largest element in a list-- write a function to find the 3rd largest element in a list

def find_third_largest(arr):
    """
    Finds the third largest element in a list.

    Args:
        arr: A list of numbers.

    Returns:
        The third largest element in the list, or None if the list has fewer than three elements.
    """
    if len(arr) < 3:
        return None  # Handle cases with fewer than three elements

    unique_elements = sorted(list(set(arr)), reverse=True)  # Remove duplicates and sort in descending order

    if len(unique_elements) >= 3:
        return unique_elements[2]
    else:
        return unique_elements[-1] # Return the largest if less than 3 unique elements

# Example usage
my_list = [10, 5, 20, 15, 10, 25, 5]
third_largest = find_third_largest(my_list)
print(f"The third largest element is: {third_largest}")

my_list = [1,2]
third_largest = find_third_largest(my_list)
print(f"The third largest element is: {third_largest}")

In [ ]:
  unique_elements = sorted(list(set(arr)), reverse=True)  # Remove duplicates and sort in descending order

    if len(unique_elements) >= 3:
        return unique_elements[2]
    else:
        return unique_elements[-1]
my_list = [10, 5, 20, 15, 10, 25, 5]
third_largest = find_third_largest(my_list)
print(f"The third largest element is: {third_largest}")

# **count negative and positive number in list**

In [11]:
def count_positive_negative(num):
    positive_count = 0
    negative_count = 0
    for i in num:
        if i > 0:
            positive_count += 1
        elif i < 0:
            negative_count += 1
    return positive_count, negative_count
num = [1, -2, 3, 0, -5, 7, -8]
positive, negative = count_positive_negative(num)
print(f"Positive numbers: {positive}")
print(f"Negative numbers: {negative}")

Positive numbers: 3
Negative numbers: 3

# find the kth smallest element in a list -- write a fuction to find kth smallest element in a alist. use sorting or selection algorithm to find the kth smallest element

In [10]:
def kth_smallest_(nums,k):
   nums.sort()
   return nums[k - 1]
numbers = [1,3,2,5,6,9]
k = 3
kth_smallest = find_kth_smallest(numbers, k)

if kth_smallest is not None:
    print(f"The {k}th smallest number is: {kth_smallest}")
else:
    print("Invalid input: k is out of bounds.")

The 3th smallest number is: 3